/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #121212FF; /*1E2127FF*/
    background-alt: #262626FF; /*282B31FF*/
    foreground:     #FFFFFFFF;
    selected:       #E36414FF; /*61AFEFFF*/
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
